*{
    color: whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logga{
    grid-area: lo;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}

nav{
    display: flex;
    grid-area: nv;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

footer{
    grid-area: fr;
    display: flex;
    background: rgb(5, 57, 5);
    color: black;
    text-align: center;
    justify-content: space-evenly;
    font-size: 15px;
    padding: 3px;
    outline: solid 1px;
    outline-color: white;
}

.knapp{
    grid-area: kn;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
}

/* --------------------------index/om_oss------------------ */

#grid_index{
    display: grid;
    height: 100vh;
    background-image: url("../img/backgrounds/background.jpg");
    background-size: cover;
    grid-template-rows: 100px 1fr 20px 60px;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: 
    "lo em nv"
    "ar ar ar"
    "kn kn kn"
    "fr fr fr";
    position: relative;
}

#tom{ grid-area: em;}

#index_nav{
    display: flex;
    grid-area: nv;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

#index_article{
    grid-area: ar;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.framsida{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

#h1framsida{ font-size: 40px;}
#h2framsida{ font-size: 25px;}
#pframsida{ font-size: 10px;}


/* ------------------------------------------------Om oss---------------------------------------- */

#article_om_oss{
    grid-area: ar;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "bt vg";
    grid-template-columns: 1fr 1fr;
}

#kontainer_om_oss{
    padding: 30px 30px 30px 70px;
    grid-area: bt;
    width: 600px;
    height: 400px;
}

#bröd_text_om_oss{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#våra_guider_om_oss{
    grid-area: vg;
    text-align: center;
}

/* -------------------------------------------------Meny------------------------------------------------------------------- */

#grid_meny{
    display: grid;
    background: url("../img/backgrounds/rex-pickar-zUmQH_rI2kg-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    grid-template-rows: 100px 1fr 20px 60px;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: 
    "lo ti nv"
    "ko ko ko"
    "kn kn kn"
    "fr fr fr";
}
#headermeny{ grid-area: he;}
#titel_restaurang{
    grid-area: ti;
}
#kontainer{
    grid-area: ko;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.meny{
  border-radius: 20px;
  width: 300px;
  height: 200px;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

#sec1{
    grid-area: s1;
    background-image: url("../img/food/sahal-hameed-Nq9KlQTTEbQ-unsplash.jpg");
    background-size: cover;
    
}
#sec2{
    grid-area: s2;
    background-image: url("../img/food/alexander-mils-SNLfVYmL8os-unsplash.jpg");
    background-size: cover;
}
#sec3{
    grid-area: s3;
    background-image: url("../img/food/sanket-shah-eEWlcfydzQ4-unsplash.jpg");
    background-size: cover;
}
#sec4{
    grid-area: s4;
    background-image: url("../img/food/victoria-shes-8pK37xtN4bo-unsplash.jpg");
    background-size: cover;
}
#sec5{
    grid-area: s5;
    background-image: url("../img/food/raggmunk.jfif");
    background-size: cover;
}
#sec6{
    grid-area: s6;
    background-image: url("../img/food/ceasar.jpg");
    background-size: cover;
}

.osynlig{
    opacity: 0%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.osynlig:hover{
    opacity: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#footermeny{
    grid-area: fo;
    text-align: center;
}

/* ------------------*/

