*{
    color: whitesmoke;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

header{
    grid-area: he;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
}

h2{
    background-color: pink;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#grid_index{
    display: grid;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: 
    "hr n1 n2"
    "ar ar ar"
    "fr fr fr";
}

#index_header{
    grid-area: hr;
}

.nav_start{
    text-align: center;
    padding-top: 10px;

}
.nav_start:hover{
    
}

#index_nav1{
    grid-area: n1;
    background: black;
}

#index_nav2{
    grid-area: n2;
    background: blue;
}

#index_article{
    grid-area: ar;
    background: green;
}

#index_footer{
    grid-area: fr;
}

#grid_meny{
    display: grid;
    height: 100vh;
    gap: 3px;
    margin: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-areas: 
    "he he he he"
    "s1 s2 s3 s4"
    "s5 s6 s7 s8"
    "fo fo fo fo";
}
.meny{
  background:lightblue;
  border-radius: 5px;
}
#img_meny{
    height: auto;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    display: block;
}
#sec1{
    grid-area: s1;
}
#sec2{
    grid-area: s2;
}
#sec3{
    grid-area: s3;
}
#sec4{
    grid-area: s4;
}
#sec5{
    grid-area: s5;
}
#sec6{
    grid-area: s6;
}
#sec7{
    grid-area: s7;
}
#sec8{
    grid-area: s8;
}
#footermeny{
    grid-area: fo;
    background:lightblue; 
    border-radius: 5px;
}