*{
    color: azure;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

#gridmeny{
    display: grid;
    height: 100vh;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-areas: 
    "he he he he"
    "s1 s2 s3 s4"
    "s5 s6 s7 s8"
    "fo fo fo fo";
}

#headermeny{
    grid-area: he;
    background:black;
}

.meny{
  background:black;
  border-radius: 5px;
}

#s1{
    grid-area: s1;
}

#s2{
    grid-area: s2;
}

#s3{
    grid-area: s3;
}

#s4{
    grid-area: s4;
}

#s5{
    grid-area: s5;
}

#s6{
    grid-area: s6;
}

#s7{
    grid-area: s7;
}

#s8{
    grid-area: s8;
}

#footermeny{
    grid-area: fo;
    background:black; 
}